@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.shaking {
    animation: shake 5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    animation-iteration-count: infinite;
}

@keyframes shake {
    70% {
        transform: translate3d(-1px, 0, 0);
    }

    76%,
    96.4% {
        transform: translate3d(2px, 0, 0);
    }

    80%,
    86.5%,
    93% {
        transform: translate3d(-4px, 0, 0);
    }

    83.2%,
    89.8% {
        transform: translate3d(4px, 0, 0);
    }
}
